---
eleventyNavigation: { parent: Get started, key: All-in-one package, order: 2 }
title: All-in-one <mark>config</mark>uration package
bricks:
  - path: https://raw.githubusercontent.com/anyblades/buildawesome-kit/refs/heads/main/README.md
    section: config
  - md: |-
      ---
      ## <sup style>Appendix</sup>
  - path: https://raw.githubusercontent.com/anyblades/buildawesome-kit/refs/heads/main/buildawesome.config.js
    section: code
---
