---
eleventyNavigation: { parent: Get started, key: All-in-one package, order: 2 }
title: Pre-<mark>config</mark>ured package
description: "`npm i @anyblades/buildawesome-kit-config`"
bricks:
  - path: https://raw.githubusercontent.com/anyblades/buildawesome-kit/refs/heads/main/README.md
    sections: [install-base, install-starters]
  - md: |-
      ---
      ## <sup style>Appendix</sup>
  - path: https://raw.githubusercontent.com/anyblades/buildawesome-kit/refs/heads/main/buildawesome.config.js
    section: code
---
