---
eleventyNavigation:
  { parent: Get started, key: Preconfigured package, order: 2 }
title: <mark><i class="fa-brands fa-square-build-awesome-stroke fa-width-auto"></i> Kit</mark> Preconfigured package
bricks:
  - path: https://raw.githubusercontent.com/anyblades/buildawesome-kit/refs/heads/main/README.md
    sections: [install-base, install-starters]
  - md: |-
      ---
      ## <sup style>Appendix</sup>
  - path: https://raw.githubusercontent.com/anyblades/buildawesome-kit/refs/heads/main/buildawesome.config.js
    section: code
---
