---
eleventyNavigation: { parent: Get started, key: Base package, order: 2 }
title: Eleventy Blades <mark>base package</mark>
bricks:
  - path: https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md
    sections: [install-base, install-starters]
  - md: |-
      ---
      ## <sup style>Appendix</sup>
  - path: https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/packages/eleventy-blades-base/eleventy.config.js
    section: code
---
