---
permalink: /
eleventyComputed:
  summary: |-
    {{ ('https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md' if site.prod else '../../eleventy-blades/README.md')
      | fetch | section('summary') | markdownify | safe }}
  description: "{{ summary | remove_tag('h1') | safe }}"
  _micro_starters: "{{ './starters.md' | fetch | section('micro') | markdownify | safe }}"
  _trusted_begin: "{{ '../.starter/index.njk' | fetch | section('trusted/11ty') | safe }}"
  _trusted_end: "{{ '../.starter/index.njk' | fetch | section('trusted/11ty/END') | safe }}"
revised: 2026-02-28
bricks:
  - content_here: true
  #- md: |-
  #    ---
  #    ## Templating <small>tricks</small> {#tpl}
  #    <!-- https://github.com/anyblades/awesome-11ty-build-awesome#tutorials -->
  #     {#njk-vscode}
  #     <!-- https://bsky.app/profile/any.digital/post/3mdjvepwr7k2w -->
  # - teaser: https://blades.ninja/html/
  #- path: https://blades.ninja/html/
  #  section: toc
  - md: ---
  - path: https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md
    section: featured
---

<section class="hero">
  {{ summary | safe }}

  <nav>
    <p>
      <a href="/plugin/" role="button">Get Started &nbsp;›</a><br />
      <sub>with <i class="fa-brands fa-eleventy"></i> plugin</sub>
    </p>
    <p>
      <a href="/starters/" role="button" class="contrast"
        >Micro-Starters &nbsp;›</a
      ><br />
      <sub>with minimal <i class="fa-brands fa-eleventy"></i> config</sub>
    </p>
  </nav>
</section>

<hr />
<h2 id="starters"><sup>Micro-starters</sup></h2>
{{ _micro_starters | safe }}
<style>
  tbody tr:first-child {
    display: none;
  }
</style>

<hr />
<h2 id="docs"><sup>Documentation</sup></h2>
{% include 'sitenav.njk' %}

<hr />
{{ _trusted_begin | safe }}
<article>
  <header>
    <a
      ><i class="fa-solid fa-flask fa-lg" style="color: dodgerblue"></i>
      Scientists</a
    >
  </header>
  <a href="//github.com/tomdstanton/tomdstanton">Tom Stanton</a>
</article>
{{ _trusted_end | safe }}
