---
permalink: /
eleventyComputed:
  summary: |-
    {{ ('https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md' if site.prod else '../../eleventy-blades/README.md')
      | fetch | section('summary') | markdownify | safe }}
  description: "{{ summary | remove_tag('h1') | safe }}"
  _trusted: "{{ '../.starter/index.njk' | fetch | section('trusted-11ty') | safe }}"
revised: 2026-02-28
bricks:
  - content_here: true
  - md: |-
      ---
      ## <sup>Documentation</sup> {#docs}
  - tpl: "{% include './sitenav.njk' %}"
  #- md: |-
  #    ---
  #    ## Templating <small>tricks</small> {#tpl}
  #    <!-- https://github.com/anyblades/awesome-11ty-build-awesome#tutorials -->
  #     {#njk-vscode}
  #     <!-- https://bsky.app/profile/any.digital/post/3mdjvepwr7k2w -->
  # - teaser: https://blades.ninja/html/
  #- path: https://blades.ninja/html/
  #  section: toc
  - md: ---
  - path: https://raw.githubusercontent.com/anyblades/eleventy-blades/refs/heads/main/README.md
    section: featured
---

<section class="hero">
  {{ summary | safe }}

  <nav>
    <p>
      <a href="/plugin/" role="button">Get Started &nbsp;›</a><br />
      <sub>with <i class="fa-brands fa-eleventy"></i> plugin</sub>
    </p>
    <p>
      <a href="/starters/" role="button" class="contrast"
        >Micro-Starters &nbsp;›</a
      ><br />
      <sub>with minimal <i class="fa-brands fa-eleventy"></i> config</sub>
    </p>
  </nav>
</section>

{{ _trusted | safe }}
